/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching for questions like
   "how to change link color." Verdana; d2d4d5*/

body {
    background-color:#ffffff;  
    color: black;
    font-family: Ubuntu;
    font-size: 18px;
    background-image: url("./gitlabheader.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 3cm;
}
blockquote{
    margin-left: 2cm;
    margin-right: 2cm;
}
